In [1]:
set = {"apple", "banana", "cherry"}
print(set)

{'apple', 'banana', 'cherry'}

In [2]:
set = {"apple", "banana", "cherry", "apple"}

print(set)

{'apple', 'banana', 'cherry'}

In [4]:
set = {"apple", "banana", "cherry", True, 1, 2}

print(set)

{True, 2, 'banana', 'cherry', 'apple'}

In [5]:
set = {"apple", "banana", "cherry", False, True, 0}

print(set)

{False, True, 'banana', 'cherry', 'apple'}

In [6]:
set = {"apple", "banana", "cherry"}

print(len(set))

3

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}
print(set1)
print(set2)
print(set3)
print(set4)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}
{True, 34, 40, 'male', 'abc'}

In [8]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [9]:
myset = {"apple", "banana", "cherry"}

for x in myset:
  print(x)

apple
banana
cherry

In [10]:
myset = {"apple", "banana", "cherry"}

print("banana" in myset)

True

In [12]:
myset = {"apple", "banana", "cherry"}

print("banana" not in myset)

False

In [14]:
set = {"apple", "banana", "cherry"}

set.add("orange")

print(set)

{'apple', 'orange', 'banana', 'cherry'}

In [15]:
myset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

myset.update(tropical)

print(myset)

{'banana', 'cherry', 'mango', 'pineapple', 'apple', 'papaya'}

In [16]:
myset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

myset.update(mylist)

print(myset)

{'apple', 'kiwi', 'banana', 'cherry', 'orange'}

In [17]:
myset = {"apple", "banana", "cherry"}

myset.remove("banana")

print(myset)

{'apple', 'cherry'}

In [18]:
myset = {"apple", "banana", "cherry"}

myset.discard("banana")

print(myset)

{'apple', 'cherry'}

In [19]:
myset = {"apple", "banana", "cherry"}

x = myset.pop()

print(x)

print(myset)

apple
{'banana', 'cherry'}

In [20]:
myset = {"apple", "banana", "cherry"}

myset.clear()

print(myset)

set()

In [22]:
myset = {"apple", "banana", "cherry"}

del myset

In [24]:
myset = {"apple", "banana", "cherry"}

for x in myset:
  print(x)

apple
banana
cherry

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [27]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'apple', 'a', 'cherry', 'Elena', 'bananas', 'b', 'c'}

In [28]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'John', 'apple', 'a', 'cherry', 'Elena', 'bananas', 'b', 'c'}

In [29]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

In [30]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [34]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'microsoft', 'banana', 'cherry'}

In [39]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'google', 'microsoft', 'banana', 'cherry'}

In [40]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'microsoft', 'banana', 'cherry'}